body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("https://appx.digpatho.com/static/images/home_background.71f9d3b8877c.jpeg");
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
}

