.header {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    background-color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    width: 100%;
}

.logo {
    height: 70px;
}

.nav {
    display: flex;
    flex-direction: row; 
    gap: 30px; 
    align-items: center; 
}


.navlink {
    text-decoration: none;
    color: #c700d4;
    font-size: 22px; 
    position: relative;
    padding-bottom: 20px;
    padding-top: 30px;
    display: inline-block;
}

.navlink:hover {
    color: #75007d;
}

.navlink::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #75007d;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease;
}

.navlink:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


@media (max-width: 767px) {
    .header {
        flex-direction: column; 
        align-items: center; 
    }

    .logo {
        margin-bottom: 10px; 
    }

   

    .navlink {
        font-size: 18px;
        padding-bottom: 10px;
        padding-top: 10px; 
    }
}
