/* Estilos generales */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2vw;
}

/* Login container styling */
.loginContainer {
    background-color: white;
    padding: 2.4rem 1.5rem 2rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 455px;
    width: 100%;
    text-align: center;
}

.h2 {
    font-size: 2rem;
    color: #c700d4;
    margin-bottom: 25px;
    margin-top: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.label {
    margin-bottom: 0.5rem;
    color: #c700d4;
    font-weight: bold;
}

.passwordWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.passwordWrapperbutton {
    border: none;
    background: none;
    cursor: pointer;
    color: #555;
    margin-bottom: 0.5rem;
    margin-left: 20.6rem;
}

.icon {
    height: 15px;
}

.input {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    width: calc(100% - 40px); /* Adjust width to fit with the button */
}

.button {
    padding: 0.75rem;
    border: 2px solid #c700d4; /* Color de borde que coincide con el tema */
    background-color: #c700d4;
    color: white;
    font-size: 1rem;
    border-radius: 0.5rem; /* Bordes más redondeados */
    cursor: pointer;
    width: 97%; /* Ajusta el ancho del botón a 100% */
    transition: background-color 0.3s, color 0.3s;
    margin-top: 1rem; /* Ajusta el margen superior para separación */
}

.button:hover {
    background-color: #75007d;
    border-color: #75007d;
}

/* Consulta de medios para pantallas más pequeñas */
@media (max-width: 767px) {

    .loginContainer {
        padding: 2rem; /* Ajusta el padding para que se vea bien en móviles */
        max-width: 100%; /* Asegura que el contenedor no exceda el ancho de la pantalla */
    }

    .h2 {
        font-size: 1.5rem; /* Tamaño de fuente más pequeño en pantallas muy pequeñas */
        margin-bottom: 1rem; /* Ajusta el margen inferior */
        margin-top: 0;
    }

    .form {
        align-items: stretch;
    }

    .label {
        text-align: left;
    }

    .passwordWrapper {
        position: relative;
    }

    .passwordWrapperbutton {
        position: absolute; /* Posiciona el botón dentro del campo de contraseña */
        top: 50%; /* Centra verticalmente */
        transform: translateY(-50%);
        right: -6px; /* Mantén el botón alineado a la derecha */
    }

    .icon {
        height: 16px; /* Tamaño del icono ajustado */
    }

    .input {
        margin-bottom: 0.75rem; /* Ajusta el margen inferior para pantallas pequeñas */
        width: 93%;
    }

    .button {
        width: 100%;
    }
}




